body {
    font-family: "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: $custom-gray;
    background-attachment: fixed !important;
    color: $custom-white;
    font-weight: normal;
}


a {
    color: #ffcc00;
    font-weight: 400;
    text-decoration: none;
    &:hover {
        color: #ffeb9b;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.625rem;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

ul {
    list-style-type: square;
    list-style-image: url('../images/bullet.png');
}

hr {
    height: 5px;
    background: transparent url('../images/hr.gif') center center repeat-x;
    margin: 0 0 1.25rem;
}

img {
    max-width: 100%;
}

blockquote {
    border-left: 3px solid #6c2dc7;
    margin: 0;
    padding: 0 0 0 20px;
    font-style: italic;
}

code {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
    color: #efefef;
    font-size: 0.75rem;
    margin: 0 4px;
    padding: 4px 6px;
    border-radius: 2px;
}


// SYNTAX HIGHLIGHT //
pre {
    padding: 8px 15px;
    background: #191919;
    border-radius: 2px;
    border: 1px solid #121212;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    overflow: auto;
    overflow-y: hidden;
    code {
        color: #efefef;
        text-shadow: 0px 1px 0px #000;
        margin: 0;
        padding: 0;
    }
}

// TABLES //
table {
    width: 100%;
    border-collapse: collapse;
}
th {

    padding: 5px 10px;
    border-bottom: 1px solid #434343;
    color: #6c2dc7;
    font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}
td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #434343;
}

// DEFINITION LISTS //
dt {
    color: #F0E7D5;
    font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}

// PAGE TITLE //
section#title {
    font-size: 20px;
    border: 0;
    outline: none;
    margin: 60px 0 50px 0px;
    padding: 30px 0 5px 0;
    div {
        h1 {
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            // font-weight: normal;
            // font-size: 40px;
            text-align: center;
            line-height: 36px;
        }
        p {
            color: #d7cfbe;
            font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 1.125rem;
            text-align: center;
        }
    .credits {
        font-size: 0.625rem;
        font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #696969;
        margin-top: -10px;
        &.left {
            float: left;
        }
        &.right {
        float: right;
        }
    }
  }
}

.site-logo{
 height: 50px; 
 margin-left: 20px;
 padding-right: 10px;
    
}

// BOOTSTRAP CUSTOMIZATIONS //
.navbar-custom {
    background: url(../images/nav-bg.gif) #353535;
    border-bottom: 2px solid $custom-blue;
    box-shadow: 0px 10px 30px rgba(0,0,0,.25);
}

.navbar-toggler-icon {
    color: $primary;
}

@media(min-width:576px){
    .navbar-expand-sm .navbar-nav .nav-link{font-size: 16px;} 
}

.nav-link{
    font-size: 14px;
    text-align: right;
}

.navbar-brand{
    padding-bottom: 0px;
    
}

.navbar-dark .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 204, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.navbar-toggler {
    border-color: gray;
    border-style: inset;
}

.dropdown-menu{
    background: #353535;
}


// TEST
//.navbar-custom {
//  animation: colorchange alternate infinite;
//  animation-duration: 100s;
//}
  


@keyframes colorchange
{
  0%,100% {border-bottom: #1abc9c }
  5% {border-bottom: 2px solid #2ecc71 }
  10% {border-bottom: 2px solid #3498db }
  15% {border-bottom: 2px solid #9b59b6 }
  20% {border-bottom: 2px solid #34495e }
  25% {border-bottom: 2px solid #16a085 }
  30% {border-bottom: 2px solid #27ae60 }
  35% {border-bottom: 2px solid #2980b9 }
  40% {border-bottom: 2px solid #8e44ad }
  45% {border-bottom: 2px solid #2c3e50 }
  50% {border-bottom: 2px solid #f1c40f }
  55% {border-bottom: 2px solid #e67e22 }
  60% {border-bottom: 2px solid #e74c3c }
  65% {border-bottom: 2px solid #ecf0f1 }
  70% {border-bottom: 2px solid #95a5a6 }
  75% {border-bottom: 2px solid #f39c12 }
  80% {border-bottom: 2px solid #d35400 }
  85% {border-bottom: 2px solid #c0392b }
  90% {border-bottom: 2px solid #bdc3c7 }
  95% {border-bottom: 2px solid #7f8c8d }
}